{{/* 
  Model List Partial 
  Arguments: context (.)
*/}}
<div class="model-tags">
  <a href="{{ site.Home.RelPermalink }}" class="model-tag active" data-model="all" style="text-decoration: none;">{{ T "all" | default "All" }}</a>
  
  {{/* 1. Collect all models from data and merge in taxonomy counts */}}
  {{ $models := slice }}

  {{ range $key, $model := .Site.Data.models }}
    {{ $taxonomy := index $.Site.Taxonomies.models $key }}
    {{ if not $taxonomy }}
      {{ $taxonomy = index $.Site.Taxonomies.models (lower $key) }}
    {{ end }}
    {{ $count := 0 }}
    {{ if $taxonomy }}
      {{ $count = $taxonomy.Count }}
    {{ end }}
    {{ $models = $models | append (dict "key" $key "count" $count "name" $model.name) }}
  {{ end }}

  {{/* 3. Sort by count descending */}}
  {{ $sortedModels := sort $models "count" "desc" }}

  {{/* 4. Collapse if too many */}}
  {{ $maxVisible := 5 }}
  {{ $shouldCollapse := gt (len $sortedModels) $maxVisible }}

  {{/* 5. Render */}}
  {{ range $index, $model := $sortedModels }}
    <a href="{{ "/models/" | relLangURL }}{{ $model.key | urlize }}/" class="model-tag{{ if and $shouldCollapse (ge $index $maxVisible) }} is-hidden{{ end }}" data-model="{{ $model.key }}" style="text-decoration: none;">
      {{ $model.name }} <span class="tag-count">{{ $model.count }}</span>
    </a>
  {{ end }}

  {{ if $shouldCollapse }}
    <button class="model-tag more model-more-toggle" type="button" data-more-text="{{ T "show_more" }}" data-less-text="{{ T "show_less" }}" aria-expanded="false">
      {{ T "show_more" }}
    </button>
  {{ end }}
</div>