{{/* 
  Model List Partial 
  Arguments: context (.)
*/}}
<div class="model-tags">
  <button class="model-tag active" data-model="all">{{ T "all" | default "All" }}</button>
  
  {{/* 1. Collect all models and their counts using Site.Taxonomies.models */}}
  {{ $models := slice }}
  
  {{ range $key, $taxonomy := .Site.Taxonomies.models }}
    {{ $count := $taxonomy.Count }}
    {{/* Only process if defined in models.yaml data file */}}
    {{ with index $.Site.Data.models $key }}
      {{ $models = $models | append (dict "key" $key "count" $count "name" .name) }}
    {{ end }}
  {{ end }}

  {{/* 3. Sort by count descending */}}
  {{ $sortedModels := sort $models "count" "desc" }}

  {{/* 4. Collapse if too many */}}
  {{ $maxVisible := 5 }}
  {{ $shouldCollapse := gt (len $sortedModels) $maxVisible }}

  {{/* 5. Render */}}
  {{ range $index, $model := $sortedModels }}
    <button class="model-tag{{ if and $shouldCollapse (ge $index $maxVisible) }} is-hidden{{ end }}" data-model="{{ $model.key }}">
      {{ $model.name }} <span class="tag-count">{{ $model.count }}</span>
    </button>
  {{ end }}

  {{ if $shouldCollapse }}
    <button class="model-tag more model-more-toggle" type="button" data-more-text="{{ T "show_more" }}" data-less-text="{{ T "show_less" }}" aria-expanded="false">
      {{ T "show_more" }}
    </button>
  {{ end }}
</div>