{{/* 
  标签云partial - 显示所有标签并支持多语言
  使用方法: {{ partial "tag-cloud.html" . }}
*/}}

<div class="tag-cloud">
  <h3 class="tag-cloud-title">{{ T "filter_tags" }}</h3>
  <div class="tags-list">
    {{ range $tagName, $tagCount := .Site.Taxonomies.tags }}
      {{ $tagDisplay := partial "tag-display.html" (dict "tag" $tagName "site" $.Site) }}
      <a href="{{ "/tags/" | relLangURL }}{{ $tagName | urlize }}" class="tag-item" data-tag="{{ $tagName }}">
        {{ $tagDisplay }} <span class="tag-count">({{ $tagCount.Count }})</span>
      </a>
    {{ end }}
  </div>
</div>